* {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}
body {
  background-color: #0d1016;
  transition: all 1s;
}
section {
  height: 100vh;
}
img {
  width: 100%;
  border-radius: 100%;
  transition: all 1.5s;
}
.lamp-img {
  width: 700px;
  margin-top: -100px;
  
}
section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.on {
  width: 290px;
  height: 100px;
  font-size: 60px;
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  background-color: transparent;
  border: 0px;
  color: white;
  border-radius: 15px;
  transition: all 0.3s;
}
button:hover {
  border: 2px solid #0d1016;
  border-radius: 15px;
  background-color: #003aaf;
}
button:active {
  scale: 1.1;
  border-radius: 15px;
}
.hoverd:hover {
  background-color: #0d1016;
  border-radius: 15px;
  border: 2px solid #0d1016;
}
